@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-200;
  }
}

@layer components {
  .navlink {
    @apply rounded-xl transition-all w-16 h-8 flex items-center justify-center hover:bg-neutral-700 hover:text-white;
  }

  .withArrow {
    position: relative;
  }

  .withArrow > svg {
    visibility: hidden;
    position: absolute;
    left: 100%;
  }

  .withArrow:hover > svg {
    visibility: visible;
    left: 120%;
    @apply animate-slide-in-left;
  }
}

.custom-shape-divider-bottom-1660761801 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1660761801 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 163px;
}

.custom-shape-divider-bottom-1660761801 .shape-fill {
  fill: #90caf9;
}

@media (min-width: 1024px) {
  .custom-shape-divider-bottom-1660761801 svg {
    height: 100px;
  }
}

/*90CAF9*/
