@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-200;
  }

  .main {
    min-height: calc(100vh - 196px);
  }
}

@layer components {
  .navlink {
    @apply rounded-xl transition-all w-16 h-8 flex items-center justify-center hover:bg-neutral-700 hover:text-white;
  }

  .withArrow {
    position: relative;
  }

  .withArrow > svg {
    visibility: hidden;
    position: absolute;
    left: 100%;
  }

  .withArrow:hover > svg {
    visibility: visible;
    left: 120%;
    @apply animate-slide-in-left;
  }

  .card {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
  }

  .card img {
    width: 300px;
    height: 200px;
  }

  .productsList {
    width: min(62rem, 100%);
  }

  .btn {
    @apply bg-transparent border-neutral-800 hover:bg-neutral-800 hover:text-white border-2 rounded-lg p-1 transition-all flex items-center gap-2;
  }

  .loader{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.1));
  }
  .loader:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1rem #90CAF9;
    animation-name: pulsIn;
  }
  .loader:after {
    width: calc(100% - 2rem);
    padding-bottom: calc(100% - 2rem);
    box-shadow: 0 0 0 0 #90CAF9;
  }

  @keyframes pulsIn {
    0% {
      box-shadow: inset 0 0 0 1rem #90CAF9;
      opacity: 1;
    }
    50%, 100% {
      box-shadow: inset 0 0 0 0 #90CAF9;
      opacity: 0;
    }
  }

  @keyframes pulsOut {
    0%, 50% {
      box-shadow: 0 0 0 0 #90CAF9;
      opacity: 0;
    }
    100% {
      box-shadow: 0 0 0 1rem #90CAF9;
      opacity: 1;
    }
  }
}

.custom-shape-divider-bottom-1660761801 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1660761801 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 163px;
}

.custom-shape-divider-bottom-1660761801 .shape-fill {
  fill: #90caf9;
}

@media (min-width: 1024px) {
  .custom-shape-divider-bottom-1660761801 svg {
    height: 100px;
  }
}

/*90CAF9*/
